body {
  background: current
}

.App {
  display: flex;
}

.article-card {
border: 1px solid #BA1F31;
background: white;
border-radius: 15px;
padding: 2rem 4rem;
margin: 1rem 0;
border-width: medium;
}

.nav-buttons {
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white; 
  padding: 10px 24px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: top;
  min-height: 8vh;
  background-color: #202829;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.navLinks li {
  list-style: none;
}
.navLinks a {
  color: rgb(29, 199, 23);
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 14px;
}

.headerLogo {
  max-width: 300px;
  position: left;
}



 /* justify-content: center;  */

  /* text-align: center;
  align-items: center;
  flex-direction: column; */

  /* box-shadow: 2px 2px 5px 0px rgba(14, 69, 250, 0.863) */